h1{
  font-size: min(5rem,10vh,5vw);
  padding-top:2% ;
  text-align: center ;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
h1:hover{cursor: default;}
h2{
margin-top: 0%;
font-size: min(3rem,5vh,3vw);
text-align: center ;
}
h2:hover{cursor: default;}
body {
  background-color: beige;
  color: #42516d;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Username{
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
}
.Username form{
  text-align: center;
}
.Username form input{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: min(1.5rem,5vh,3vw);
  color: #42516d;
  background-color: beige;
  padding: 15px;
  height: 3rem;
  border-radius: 15px;
  border:solid #feb756 2px;
  text-align: center;
  width: 25vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

.Username  input::placeholder{
  color: #42516d;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Username  .buttons button{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #42516d;
  background-color: beige;
  height: 3.42rem;
  margin: 5px;
  border-radius: 15px;
  border:solid #feb756 2px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  }
  .Username  .button button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #42516d;
    background-color: beige;
    height: 4rem;
    margin: 5px;
    width: 20vw;
    border-radius: 15px;
    border:solid #feb756 2px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: min(3.2rem,3vw);
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
    }
  .Username  button:hover{
  cursor: pointer;
  background-color: #feb756;
  border:solid #42516d 2px;
  font-weight: bold;
  }
  .Username .buttons{
  display: flex;
  justify-content: space-around;
  width: 100%;
  }
.spy{
  width: max(10vw,12vh);
  height: auto;
}
.spy:hover{
  width: 10vw;
  height: 15vh;
  cursor:grab;
}
Header{
  display: flex;
  justify-content: space-around;
  align-items: center;}


.footer{
  border-top:solid #feb756 2px;
  background-color: #42516d;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  color: beige;
}
.footer-content button{
  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #42516d;
    background-color: beige;
    height: 2rem;
    margin: 5px;
    border-radius: 15px;
    border:solid #feb756 2px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    }
.footer-content ul{
  margin-top: 0;
  line-height: 1.5rem;
}

.footer-content button:hover{
    cursor: pointer;
    background-color: #feb756;
    border:solid #42516d 2px;
    font-weight: bold;
}
#chat{
  color: #42516d;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#chat div{
  border:solid #feb756 2px;
  border-radius: 10px;
}
#chat button{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #42516d;
  background-color: beige;
  height: 4rem;
  border-radius: 15px;
  border:solid #feb756 2px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: min(2rem,2.5vw);
  padding-bottom: 1vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  }
  #chat  button:hover{
    cursor: pointer;
    background-color: #feb756;
    border:solid #42516d 2px;
    font-weight: bold;
    }
    #chat input{
      height: 3rem;
      margin-top: 0px;
      border-radius: 15px;
      border:solid #feb756 2px;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
      font-size: min(2rem,2.5vw);
      padding-bottom: 1vh;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: beige;
    width:84%;
    text-align: left;
    }
    #chat  input::placeholder{
      color: #42516d;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #text {height: 50vh;
      width: 50vw;
      font-size: min(1.5rem,5vh,3vw);
      overflow-y: scroll;
    }
    #text ul {
      list-style-type: none;
    }
    #chat form{
      margin-top: 1vh;
      border: 0px;
      width: 50.5vw;
      height: 7.8vh;
      display: flex;
      justify-content: space-between;
      font-size: min(1.5rem,5vh,4vw);
    }